@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color:  #E8E2E2;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    font-family: "Orbitron", sans-serif;
}

.container__titulo {
    font-size: 50px;
    text-align: center;
    color: #F99417;
    font-weight: 500;
}

.timer {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 5rem;
    color: #5D3891;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    font-size: 2rem;
    color: #F99417;
    background-color: transparent;
    border: none;
    font-family: "Orbitron", sans-serif;
}

.btn:hover {
    color: #5D3891;
}
